/*HEADER*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header {
	padding: 5px 0;
	margin-bottom: 25px;
}
.header {
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header li a {
	justify-content: space-between;
	align-items: center;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	width: 101px;
	height: 21px;
	top: 50px;
}
/*first-section*/
.navigation ul {
	display: flex;
	align-items: center;
	list-style: none;
}

.navigation li {
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 8px;
}
.navigation a {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;
	color: #262626;
}

.first-section {
	background-image: url("img/1.png");
	width: 1272px;
	height: 559px;
	top: 133px;
	left: 84px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card1 {
	display: row;
	justify-content: right;
	align-items: center;
}

.card1 h1 {
	margin-top: 20px;
	margin-left: 57px;
	font-family: Poppins;
	font-size: 46px;
	font-weight: 700;
	line-height: 69px;
	letter-spacing: 0em;
	text-align: left;
	line-height: 69px;
	color: #ffffff;
}
h1 span {
	color: #4ce0d7;
}
.card1 h3 {
	margin-top: 20px;
	margin-left: 57px;
	width: 494px;
	height: 72px;
	top: 479px;
	left: 137px;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: #ffffff;
}
.card1 p {
	font-family: Poppins;
	margin-top: 58px;
	margin-left: 57px;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.23em;
	text-align: left;
	color: #ffffff;
}
/*second-section*/

.second-section {
	gap: 41px;
	padding: 40px 0;
	margin: 0 auto;
	width: 1272px;
	top: 133px;
}
.second-section h1 {
	padding: 34px 0;
	margin-bottom: 94px;
	width: 282px;
	height: 36px;
	top: 765px;
	left: 84px;
	font-family: Poppins;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
}

.second-section-topic-card {
	margin-bottom: 60px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 204px;
	height: 291px;
	top: 849px;
	left: 83px;
	border-radius: 20px;
	box-shadow: 0px 6px 6px 0px #0000000d;
}
.second-section-topic-card p {
	margin-top: 20px;
	margin-bottom: 40px;
	width: 129px;
	height: 36px;
	top: 1008px;
	left: 120px;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
}
#second-section-topic-card1 {
	width: 88px;
	height: 88px;
	top: 900px;
	left: 141px;
}

#second-section-topic-card2 {
	width: 88px;
	height: 88px;
	top: 900px;
	left: 141px;
}

#second-section-topic-card3 {
	width: 100px;
	height: 100px;
	top: 890px;
	left: 562px;
	padding: 0px, 6.26px, 0px, 6.26px;
}
#second-section-topic-card4 {
	width: 89px;
	height: 89px;
	top: 892px;
	left: 781px;
}

#second-section-topic-card5 {
	width: 86px;
	height: 86px;
	top: 895px;
	left: 997px;
}

#second-section-topic-card6 {
	width: 102px;
	height: 102px;
	top: 882px;
	left: 1203px;
}

.button {
	top: 1074.17px;
	background-color: #4ce0d7;
	width: 143.81px;
	height: 35.95px;
	border-radius: 40px;
	rotate: 0.47 deg;
	border-style: none;
	motion-rotation: 0.47 deg;
}
/*third-section*/
.second-section-topic-card a {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	color: #262626;
}

.third-section {
	width: 1204px;
	height: 698px;
	top: 1280px;
	left: 118px;
	border-radius: 20px;
	background: #ffffff;
	box-shadow: 0px 6px 6px 0px #0000000d;
}
.CardImg {
	background-image: url("img/11.png");
	width: 1204px;
	height: 360.3px;
	top: 1280px;
	left: 118px;
}
.CardImg button {
	margin-top: 30px;
	margin-left: 40px;
	width: 233.95px;
	height: 36.49px;
	top: 1304.82px;
	left: 165.27px;
	border-radius: 40px;
	background: #262626;
	border-style: none;
}
.CardImg a {
	width: 71px;
	height: 18px;
	top: 1314px;
	left: 247px;
	font-family: Poppins;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;
}
.third-section-card1 img {
	margin-left: 64.34px;
	width: 65.67px;
	height: 50.77px;
	top: 1663.65px;
	left: 182.34px;
}
.third-section-card p {
	margin-left: 380px;
	width: 168px;
	height: 21px;
	top: 1678px;
	left: 269px;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	color: #bcbcbc;
}
.third-section-card1 h4 {
	margin-left: 500px;
	margin-right: 64px;
	width: 216px;
	height: 23px;
	top: 1680px;
	left: 1042px;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.24em;
	text-align: left;
	color: #f25e5e;
}
.third-section-h2 h2 {
	margin-left: 64px;
	margin-right: 107px;
	margin-top: 23px;
	width: 1033px;
	height: 73px;
	top: 1803px;
	left: 182px;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #262626;
}
.third-section-card1 h1 {
	margin-left: 64px;
	margin-top: 30px;
	width: 1044px;
	height: 36px;
	top: 1744px;
	left: 182px;
	font-family: Poppins;
	font-size: 26px;
	font-weight: 700;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: left;
	color: #262626;
}
.third-section-card2 img {
	margin-top: 626px;
	margin-left: 51px;
	width: 51px;
	height: 40px;
	top: 1906px;
	left: 169px;
	padding: 13.33px, 14.88px, 13.33px, 14.88px;
}

.third-section-card1 a {
	margin-left: 11px;
	width: 215px;
	height: 24px;
	top: 1916px;
	left: 231px;
	font-family: Poppins;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.24em;
	text-align: left;
	color: #4ce0d7;
}

/*fourth-section*/
h1#trending-heading {
	width: 370px;
	height: 36px;
	font-size: 32px;
	line-height: 48px;
	font-weight: 700;
	color: #262626;
	font-family: "poppins", sans-serif;
	margin-top: 2075px;
	margin-right: 944px;
	margin-left: 126px;
	margin-bottom: 55px;
}

.trending-text {
	width: 175.44px;
	height: 36.49px;
	border-radius: 40px;
	background-color: #262626;
}

.trending-text p {
	width: 76px;
	height: 19px;
	font-weight: 700;
	font-size: 12px;
	padding: 9.29px 49.96px 9.31px 49.86px;
	color: white;
	font-family: "Poppins", sans-serif;
}

.Trending-Container {
	width: 1218px;
	height: 670px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 60px;
	margin-left: 128px;
	margin-right: 118px;
}

.Trending-Card1 {
	width: 579px;
	height: 670px;
	border-radius: 20px;
}

.trending-image-container1 {
	background-image: url(1.png);
	background-repeat: no-repeat;
	width: 579.02px;
	height: 278.09px;
	padding: 20.67px 369.07px 15.83px 34.14px;
}

.trending-image-container2 {
	background-image: url(2.png);
	background-repeat: no-repeat;
	width: 579.02px;
	height: 278.09px;
	padding-top: 20.67px;
	padding-bottom: 15.83px;
	padding-left: 34.14px;
}

.image-name-date {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 21.08px;
	padding-left: 33.24px;
}

.image-name-date p {
	width: 168px;
	height: 21px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #bcbcbc;
}

#date {
	padding-left: 71px;
}

h2#trending-card-heading {
	width: 401px;
	height: 94px;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 39px;
	color: #262626;
	padding-left: 33.24px;
}

p#card-paragraph {
	width: 344px;
	height: 98px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #262626;
	padding-left: 34.24px;
}

.image-arrow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding-left: 22.24px;
}

.image-arrow p {
	width: 215px;
	height: 23px;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 2.5px;
	color: #4ce0d7;
}

.image-arrow image {
	width: 51px;
	height: 39px;
}

/*fifth-section*/

/*FOOTER*/

.footer {
	box-shadow: 6px 0px 6px 0px #0000000d;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 34px 34px;
	max-width: 1440px;
	margin: -40px auto;
	gap: 41px;
	width: 1440px;
	height: 308px;
	top: 4202px;
	border-radius: 20px;
}
.foot {
	margin-top: 100px;
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-align: center;
	align-content: stretch;
	flex-wrap: wrap;
	flex-direction: row;
}
.footer-social {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	text-align: center;
	align-content: stretch;
	flex-wrap: wrap;
	flex-direction: row;
}
.footer li {
	display: flex;
	align-content: space-between;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: right;
	align-items: right;
}
.footer p {
	margin-top: 30px;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
}
.hr {
	top: 1227.5px;
	width: 1267px;
	top: 4415px;
	left: 86.5px;
	border: 1px;
	background: #bcbcbc;
	border: 1px solid #bcbcbc;
}
footer h3 {
	width: 227px;
	height: 42px;
	top: 4289px;
	left: 876px;
	font-family: Poppins;
	font-size: 26px;
	font-weight: 700;
	line-height: 39px;
	letter-spacing: 0em;
	text-align: left;
}
